name: Create Azure Resources

on:
    push:
        paths:
            - "infra/*.bicep"
            - ".github/workflows/infra.yml"
    workflow_dispatch:

jobs:
    create-azure-resources:
        env:
            REGION: "canadacentral" # You can change this to reflect the region where you deploy your Accelerator
            AZURE_CORE_OUTPUT: "none"

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Azure Login
              uses: Azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            # Temp fix
            - name: bicep tmp fix
              run: az config set bicep.use_binary_from_path=false

            - name: deploy
              id: createResources
              uses: azure/arm-deploy@v2
              with:
                  subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
                  scope: subscription
                  region: ${{ env.REGION }}
                  deploymentName: ${{ github.run_id }}
                  template: ./infra/main.bicep
                  parameters: ./infra/main.bicepparam

            - uses: gliech/create-github-secret-action@v1
              with:
                  name: FUNCTION_APP_NAME
                  value: ${{ steps.createResources.outputs.functionAppName }}
                  pa_token: ${{ secrets.PA_TOKEN }}

        #   - uses: gliech/create-github-secret-action@v1
        #     with:
        #       name: OPENAI_RESOURCE_NAME
        #       value: ${{ steps.createResources.outputs.openAiResourceName }}
        #       pa_token: ${{ secrets.PA_TOKEN }}

        #   - uses: gliech/create-github-secret-action@v1
        #     with:
        #       name: SEARCHAI_RESOURCE_NAME
        #       value: ${{ steps.createResources.outputs.searchAiResourceName }}
        #       pa_token: ${{ secrets.PA_TOKEN }}

        #   - uses: gliech/create-github-secret-action@v1
        #     with:
        #       name: RESOURCE_GROUP_NAME
        #       value: ${{ steps.createResources.outputs.resourceGroupName }}
        #       pa_token: ${{ secrets.PA_TOKEN }}

        #   - uses: gliech/create-github-secret-action@v1
        #     with:
        #       name: PROJECT_RESOURCEID
        #       value: ${{ steps.createResources.outputs.projectResourceId }}
        #       pa_token: ${{ secrets.PA_TOKEN }}
